<p>asdfasdf
</p>
<h1><%= @welcome %></h1>
asdfasdf改这个呢
还是不行
<h2>hello hahaha</h2>N

<h3>终于可以了啊，拆腾了我好几个星期</h3>
<h3>终于可以了啊，拆腾了我好几个星期</h3>
<h3>终于可以了啊，拆腾了我好几个星期</h3>
<h3>终于可以了啊，</h3>

<%= link_to("new article", welcome_show_path) %>