<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>
  <%= @welcome %>
</h1>


<h2>1111111111111为什么不会刷新，我是以开发模式启动的</h2>

<h2>1111111111111为什么不会刷新，我是以开发模式启动的</h2>
<h2>1111111111111为什么不会刷新，我是以开发模式启动的</h2>

<h2>1111111111111为什么不会刷新，我是以开发模式启动的</h2>

